{% extends 'base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a>
  <button class="talk"><i class="fa fa-microphone" aria-hidden="true"></i></button>
</div>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  </table>
</form>
<div style="visibility: hidden">
  <h3 class="content"></h3>
</div>
<style>
.talk {
    border: none;
    outline: none;
    margin-left: 1%;
}
</style>

<script>
  const btn = document.querySelector('.talk');
  const content = document.querySelector('.content');

  const greetings = ['hi, how are you doing today']

  const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  const recognition = new SpeechRecognition();

  recognition.onstart = function() {
      console.log('voice has been ACTIVATED');
  };

  recognition.onresult = function(event) {
      const current = event.resultIndex;

      const transcript = event.results[current][0].transcript;
      content.textContent = transcript;
      readOutLoud(transcript);
  }

  btn.addEventListener('click', () => {
      recognition.start();
  });


  function readOutLoud(message) {
      const speech = new SpeechSynthesisUtterance();
      
      if(message.includes('hello')){
          // const greetMesg = greetings[Math.floor(Math.random() * greetings.length)];
          const greetMesg = 'hi, how are you doing today';
          // const userSaid = voice.onendspeech();
          // console.log(userSaid);
          speech.text = greetMesg;
      }

      if(message.includes('hi')){
          // const greetMesg = greetings[Math.floor(Math.random() * greetings.length)];
          const greetMesg = 'hi, how are you doing today';
          speech.text = greetMesg;
      }

      if(message.includes('what\'s my agenda today')){
          // const greetMesg = greetings[Math.floor(Math.random() * greetings.length)];
          const greetMesg = 'your agenda today is: ';
          // ourday = document.getElementById('calendar');
          // for (act in ourday) {
          //     console.log(act);
          //     speech.text = act;
          // }
          // speech.text = act + greetMesg;
      }

      if(message.includes('agenda')){
          // const greetMesg = greetings[Math.floor(Math.random() * greetings.length)];
          const greetMesg = 'this is your agenda';
          // ourday = document.getElementById('calendar');
          speech.text = greetMesg;
      }

      if(message.includes('home')){
          const greetMesg = 'here is the home page';
          var url = "{% url 'cal:calendar' %}";
          document.location.href = url;
          speech.text = greetMesg;
      }

      if(message.includes('calendar')){
          const greetMesg = 'here is your calendar';
          var url = "{% url 'cal:calendar' %}";
          document.location.href = url;
          speech.text = greetMesg;
      }

      if(message.includes('new event')){
          // const greetMesg = greetings[Math.floor(Math.random() * greetings.length)];
          const greetMesg = 'let\'s create a new event';
          var url = "{% url 'cal:event_new' %}";
          // var id = $(this).attr('id');
          document.location.href = url;
          // recognition.addEventListener('end', function() {
          //     var title = transcript;
          //     console.log(title);
          //     console.log('new event creating');
          // });
          // ourday = document.getElementById('calendar');
          speech.text = greetMesg;
      }

  // if(message.)

  // speech.text = message;
  // speech.onerror = // todo: 'error'
  speech.volume = 1;
  speech.rate = 1;
  speech.pitch = 1;

  window.speechSynthesis.speak(speech);
}

</script>
{% endblock %}